html {
    font-family: "Times New Roman", serif;
}

/*
 * Make command and setting names monospaced
 */
.asciisetting,
.asciicmd,
.parmname {
    font-family: monospace;
}

.dataparmname {
    font-family: monospace;
    font-style: italic;
}

.binarycmd {
    font-style: italic;
}

/*
 * Make headings visually different
 */
.topictitle1,
.topictitle2,
.topictitle3 {
    border-bottom-style:solid;
    margin-top: 2em;
}

.sectiontitle {
    font-size: 1em;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    margin-top: 2em;
}

/*
 * Make definition lists display as a grid
 */
.dl {
    display: grid;
    grid-template-columns: max-content auto;
}

.dt {
    grid-column: 1;
}

.dd {
    grid-column: 2;
    margin-left: 1em;
    -webkit-margin-start: 1em;
    margin-bottom: 0.6em;
    -webkit-margin-after: 0.6em;
}

.dt > *:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
}

.dd > *:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
}

.dd > *:last-child {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

.dd p {
    margin-top: 0;
    -webkit-margin-before: 0;
    margin-bottom: 0.3em;
    -webkit-margin-after: 0.3em;
}

/*
 * Remove accumulated margin on nested definition lists
 */
.dd > dl {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

.dd > dl > .dd:last-child {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

/*
 * Indent content under major headings
 */
.body,
article > .shortdesc,
article > .related-links {
    margin-left: 1.5em;
}

/*
 * Restrict the width of the content and fix the navigation
 * to the side of window.
 */
header {
    text-align: center;
}

/**
 * Add a nice box around all codeblocks and screens
 */
.codeblock,
.screen {
  font-family: monospace;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: whitesmoke;
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Style tables
 */
table {
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

table > caption {
    text-align: left;
}

table > caption > .table--title-label {
    font-style: italic;
}

tr > th[scope="row"] {
	text-align: left;
}

td, th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table + table {
	margin-top: 2em;
}

/**
 * Format equations
 */
.equation-block,
.equation-inline {
    font-style:italic;
}

.equation-block {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

/**
 * Format disclosure levels
 */
[data-disclosure="prototype"] {
	background-color: #ff9999;	/* %80 */
}

[data-disclosure="internal"] {
	background-color: #ffd699;	/* %80 */
}

[data-disclosure="hidden"] {
	background-color: #99aaff;	/* %80 */
}

[data-disclosure="pre-pub"] {
	background-color: #abe9ed;	/* %80 */
}

/**
 * Format quality levels
 */
[data-quality="rough"] {
	border-style: dashed;
	border-width: 0.15em;
}

[data-quality="draft"] {
	border-style: dotted;
	border-width: 0.15em;
}