﻿<div class="mw-parser-output"><div class="thumb tright"><div class="thumbinner" style="width:502px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup.png" class="image"><img alt="" src="500px-ZaberConsole_JoystickSetup.png" decoding="async" width="500" height="347" class="thumbimage" srcset="/w/images/thumb/e/ef/ZaberConsole_JoystickSetup.png/750px-ZaberConsole_JoystickSetup.png 1.5x, /w/images/e/ef/ZaberConsole_JoystickSetup.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup.png" class="internal" title="Enlarge"></a></div>The Joystick Setup tab</div></div></div>
<p>Zaber's joysticks can be used to control up to 3 axes manually; the joystick's programmable buttons can also save commands for ease of use. The Joystick tab assists users with setting up or changing these features. For more information specific to your joystick, see either the <a class="external text" href="https://www.zaber.com/wiki/Manuals/X-JOY3">X-JOY3 product manual</a> or the <a class="external text" href="https://www.zaber.com/wiki/Manuals/T-JOY3">T-JOY3 product manual</a>. 
</p>
<div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2 id="mw-toc-heading">Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="Joystick_Setup_Tab.html#Connecting_The_Joystick"><span class="tocnumber">1</span> <span class="toctext">Connecting The Joystick</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="Joystick_Setup_Tab.html#Reading_and_Writing"><span class="tocnumber">1.1</span> <span class="toctext">Reading and Writing</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="Joystick_Setup_Tab.html#Joystick_Settings"><span class="tocnumber">2</span> <span class="toctext">Joystick Settings</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="Joystick_Setup_Tab.html#Key_Settings"><span class="tocnumber">3</span> <span class="toctext">Key Settings</span></a>
<ul>
<li class="toclevel-2 tocsection-5"><a href="Joystick_Setup_Tab.html#Key_Events"><span class="tocnumber">3.1</span> <span class="toctext">Key Events</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="Joystick_Setup_Tab.html#Key_Protocol_Specifics"><span class="tocnumber">3.2</span> <span class="toctext">Key Protocol Specifics</span></a>
<ul>
<li class="toclevel-3 tocsection-7"><a href="Joystick_Setup_Tab.html#ASCII_Key_Settings"><span class="tocnumber">3.2.1</span> <span class="toctext">ASCII Key Settings</span></a></li>
<li class="toclevel-3 tocsection-8"><a href="Joystick_Setup_Tab.html#Adding_and_Deleting_Commands"><span class="tocnumber">3.2.2</span> <span class="toctext">Adding and Deleting Commands</span></a>
<ul>
<li class="toclevel-4 tocsection-9"><a href="Joystick_Setup_Tab.html#Dragging/Dropping_and_Editing"><span class="tocnumber">3.2.2.1</span> <span class="toctext">Dragging/Dropping and Editing</span></a></li>
<li class="toclevel-4 tocsection-10"><a href="Joystick_Setup_Tab.html#Alerts"><span class="tocnumber">3.2.2.2</span> <span class="toctext">Alerts</span></a></li>
</ul>
</li>
<li class="toclevel-3 tocsection-11"><a href="Joystick_Setup_Tab.html#Binary_Key_Settings"><span class="tocnumber">3.2.3</span> <span class="toctext">Binary Key Settings</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-12"><a href="Joystick_Setup_Tab.html#Other_Features"><span class="tocnumber">4</span> <span class="toctext">Other Features</span></a>
<ul>
<li class="toclevel-2 tocsection-13"><a href="Joystick_Setup_Tab.html#Clearing_Keys"><span class="tocnumber">4.1</span> <span class="toctext">Clearing Keys</span></a></li>
<li class="toclevel-2 tocsection-14"><a href="Joystick_Setup_Tab.html#Debugging_and_Alerts"><span class="tocnumber">4.2</span> <span class="toctext">Debugging and Alerts</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="Joystick_Setup_Tab.html#Restoring_Default_Configuration"><span class="tocnumber">4.3</span> <span class="toctext">Restoring Default Configuration</span></a></li>
<li class="toclevel-2 tocsection-16"><a href="Joystick_Setup_Tab.html#Saving_and_Loading_Joystick_Settings"><span class="tocnumber">4.4</span> <span class="toctext">Saving and Loading Joystick Settings</span></a></li>
<li class="toclevel-2 tocsection-17"><a href="Joystick_Setup_Tab.html#Sensitivity_Calibration"><span class="tocnumber">4.5</span> <span class="toctext">Sensitivity Calibration</span></a></li>
</ul>
</li>
</ul>
</div>

<h2><span class="mw-headline" id="Connecting_The_Joystick">Connecting The Joystick</span></h2>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:202px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_AddTab.png" class="image"><img alt="" src="200px-ZaberConsole_JoystickSetup_AddTab.png" decoding="async" width="200" height="110" class="thumbimage" srcset="/w/images/e/e4/ZaberConsole_JoystickSetup_AddTab.png 1.5x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_AddTab.png" class="internal" title="Enlarge"></a></div>Press the + symbol in the Tab Dock and select Joystick to view the Joystick Setup tab</div></div></div><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_SelectMenu.png" class="image"><img alt="" src="400px-ZaberConsole_JoystickSetup_SelectMenu.png" decoding="async" width="400" height="278" class="thumbimage" srcset="/w/images/thumb/e/e2/ZaberConsole_JoystickSetup_SelectMenu.png/600px-ZaberConsole_JoystickSetup_SelectMenu.png 1.5x, /w/images/thumb/e/e2/ZaberConsole_JoystickSetup_SelectMenu.png/800px-ZaberConsole_JoystickSetup_SelectMenu.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_SelectMenu.png" class="internal" title="Enlarge"></a></div>Select either the center button to change Joystick settings or one of the key buttons to modify the function of that key</div></div></div>Although a joystick can be used with or without a computer connection, we recommend that you connect it to a computer for the initial setup. Before using the Joystick setup tab for the first time, follow these steps:
<ol><li>Make sure that your joystick is the first device connected to your computer, with other devices you'd like to control connected after it.</li>
<li>Send the <a class="external text" href="https://www.zaber.com/protocol-manual#topic_command_renumber">renumber</a> command to all devices to ensure the device numbers are unique and in order.</li>
<li>If the Joystick tab is not already displayed in the Tab dock, click on the + symbol (shown to the right) to add it.</li>
<li>Select the Joystick from the device list, and then open the Joystick tab.</li>
<li>Click on the round button to adjust joystick settings, or click one of the keys to configure the functions that the specified key will execute.</li></ol>
</td></tr></tbody></table>
<p><br>
</p>
<h3><span class="mw-headline" id="Reading_and_Writing">Reading and Writing</span></h3>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_UnwrittenChanges.png" class="image"><img alt="" src="400px-ZaberConsole_JoystickSetup_UnwrittenChanges.png" decoding="async" width="400" height="161" class="thumbimage" srcset="/w/images/thumb/9/9f/ZaberConsole_JoystickSetup_UnwrittenChanges.png/600px-ZaberConsole_JoystickSetup_UnwrittenChanges.png 1.5x, /w/images/thumb/9/9f/ZaberConsole_JoystickSetup_UnwrittenChanges.png/800px-ZaberConsole_JoystickSetup_UnwrittenChanges.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_UnwrittenChanges.png" class="internal" title="Enlarge"></a></div>Unwritten changes show up in red. A note in the top right shows whether you have made changes that have not yet been written to the Joystick.</div></div></div>
<p>Please note that while using the Joystick tab, changes to the joystick or key settings are not immediately applied to the device. You must actively write the changes by pressing the "Write" button in the top right of the tab to apply your changes. 
</p><p>If you have made changes to the settings that are ready to be uploaded to the device, you will see "Unwritten Changes" in red text near the "Read" and "Write" buttons. The fields that you have changed will also show in red. If you want to discard and revert the changes, click the "Read" button. If you do not save your new modified settings and click on another key or click on another tab, your settings will be lost. 
</p><p>Note that if you change one of the joystick settings through a key press, that change will not be immediately reflected in the tab - you must first press the "Read" button to display the change.
</p>
</td></tr></tbody></table>
<h2><span class="mw-headline" id="Joystick_Settings">Joystick Settings</span></h2>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_JoystickSettings.png" class="image"><img alt="" src="400px-ZaberConsole_JoystickSetup_JoystickSettings.png" decoding="async" width="400" height="161" class="thumbimage" srcset="/w/images/thumb/b/bf/ZaberConsole_JoystickSetup_JoystickSettings.png/600px-ZaberConsole_JoystickSetup_JoystickSettings.png 1.5x, /w/images/thumb/b/bf/ZaberConsole_JoystickSetup_JoystickSettings.png/800px-ZaberConsole_JoystickSetup_JoystickSettings.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_JoystickSettings.png" class="internal" title="Enlarge"></a></div>Select the center button to modify joystick settings</div></div></div><div class="thumb tright"><div class="thumbinner" style="width:302px;"><a href="https://www.zaber.com/w/File:Axis_Velocity.jpg" class="image"><img alt="" src="300px-Axis_Velocity.jpg" decoding="async" width="300" height="299" class="thumbimage" srcset="/w/images/thumb/a/ac/Axis_Velocity.jpg/450px-Axis_Velocity.jpg 1.5x, /w/images/a/ac/Axis_Velocity.jpg 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:Axis_Velocity.jpg" class="internal" title="Enlarge"></a></div>Joystick Control Speed Graph</div></div></div> Select the round button to start adjusting the settings of the joystick. There are three tabs, one for each of the directions of joystick control. As you switch between the tabs, black arrows next to the round button will indicate which direction of the joystick you're editing. In the picture shown, moving the joystick from left to right will move the device 2, which is the target device.
<p><b>Target Device</b> - The device number of the device you want this joystick axis to control. You can find the device numbers of each connected device from the device list.
</p><p><b>Target Axes</b> - The axis number that you want the joystick control if the device has more than one axis. If the device has only one axis, leave this as 1. The joystick can target 3 different types of axes: a standard axis, a <a class="external text" href="https://www.zaber.com/wiki/Manuals/ASCII_Protocol_Manual#virtual">virtual axis</a>, or a <a class="external text" href="https://www.zaber.com/wiki/Manuals/ASCII_Protocol_Manual#lockstep">lockstep configuration</a>. Virtual Axes and Lockstep configurations are only available on controllers with 2 or more axes. To make your joystick target virtual or lockstep axes, they must first be set up on the multi-axis controller.
</p><p><b>Joystick Control Speed</b> - Controls how the velocity of the device scales with the displacement of the joystick. Options are linear, squared, or cubed. Squared and cubed have the benefit of allowing finer resolution control at lower speeds. See the graph on the right for more information. 
</p><p><b>Joystick Max Speed</b> - The maximum speed of the controlled device as the joystick is displaced all the way in a particular direction.
</p><p><b>Invert Joystick Axis</b> - Controls how the direction of joystick displacement corresponds with the direction of the device's movement. The black "plus sign" on the arrow in the lower left indicates which direction will correspond with positive movement of the device. 
</p><p><b>Resolution</b> - This controls how sensitive the joystick is. When the resolution is higher, the joystick will be more sensitive and have a finer resolution. The maximum resolution is the lesser of Joystick Max Speed and ~500 (exact value depends on joystick <a href="Joystick_Setup_Tab.html#Sensitivity_Calibration">calibration</a>).
</p>
</td></tr></tbody></table>
<h2><span class="mw-headline" id="Key_Settings">Key Settings</span></h2>
<p>Select any of the key buttons to configure the controls associated with the events of that key. The details of the key configuration differ between the ASCII and Binary protocols. 
</p>
<h3><span class="mw-headline" id="Key_Events">Key Events</span></h3>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:KeyReleased.jpg" class="image"><img alt="" src="400px-KeyReleased.jpg" decoding="async" width="400" height="167" class="thumbimage" srcset="/w/images/6/67/KeyReleased.jpg 1.5x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:KeyReleased.jpg" class="internal" title="Enlarge"></a></div>There are 4 events that can occur when you press a key. Actions can be associated with any or all of these events.</div></div></div>When pressing and releasing a key, there is a series of events that takes place depending on how long the key is held (as illustrated in the image to the right). If the key is pressed and released before 1 second, the event sequence is 1-2. If the key is pressed, held for one second or more and then released, the event sequence is 1-3-4 (note that event 3 will be issued after the key is held for 1 second, and event 4 is issued upon release). The hold time of the key cannot be changed by the user.
<h3><span class="mw-headline" id="Key_Protocol_Specifics">Key Protocol Specifics</span></h3>
<p>When the joystick is in ASCII or Binary protocol, the keys may only store commands of the same protocol. Changing key commands and settings in one protocol will not affect the settings in the other. 
</p>
<ul><li>The <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=ASCII">ASCII protocol manual</a> contains all of the information about ASCII commands.</li>
<li>The <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary">Binary protocol manual</a> contains all of the information about Binary commands.</li></ul>
<p>The key commands interface in the Joystick setup tab are different depending on whether your joystick is in Binary or in ASCII. In ASCII, each key event can have more than one command. In Binary each key event can have only one command.
</p>
</td></tr></tbody></table>
<p><br>
</p>
<h4><span class="mw-headline" id="ASCII_Key_Settings">ASCII Key Settings</span></h4>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_ASCIIKeys.png" class="image"><img alt="" src="400px-ZaberConsole_JoystickSetup_ASCIIKeys.png" decoding="async" width="400" height="161" class="thumbimage" srcset="/w/images/thumb/f/fd/ZaberConsole_JoystickSetup_ASCIIKeys.png/600px-ZaberConsole_JoystickSetup_ASCIIKeys.png 1.5x, /w/images/thumb/f/fd/ZaberConsole_JoystickSetup_ASCIIKeys.png/800px-ZaberConsole_JoystickSetup_ASCIIKeys.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_ASCIIKeys.png" class="internal" title="Enlarge"></a></div>Select one of the key buttons to modify the function of the key. Configuring keys in ASCII shown here.</div></div></div>
<h4><span class="mw-headline" id="Adding_and_Deleting_Commands">Adding and Deleting Commands</span></h4>
<p>To add commands, fill out the top row in each command grid, and then click the green plus sign or hit the "Enter" key on your keyboard.
</p><p><b>Device #</b> - the device number for the device you wish to control. You can see this information in the top left of Zaber Console in the device list.
</p><p><b>Axis</b> - corresponds to a specific axis if the device has more than one axis. If the device only has one axis, for example a single stage, either 0 or 1 would work. You can also leave the Axis field blank, which will make it default to 0. 
</p><p><b>Command</b> - the ASCII command you want your key to execute, e.g. "move rel 5000" or "home". 
</p><p>You can set the "Device #" field to 0 to control all devices. Similarly, an "Axis #" field of 0 will control all axes of a device.
</p><p>To delete commands, simply click the red "minus sign" next to the command row.
</p>
<h5><span id="Dragging.2FDropping_and_Editing"></span><span class="mw-headline" id="Dragging/Dropping_and_Editing">Dragging/Dropping and Editing</span></h5>
<p>You can drag and drop key commands, either to adjust the order they are sent it in, or to adjust which event triggers it. Simply left-click on a key command, and drag it to the desired position. Key commands are executed sequentially, so order does matter. To edit a key command, simply left-click on the field you want to edit, and release the click instead of dragging it. The text box will become visible and editable. Be sure to save your changes by writing after editing or moving a command.
</p>
<h5><span class="mw-headline" id="Alerts">Alerts</span></h5>
<p>Joystick keys in ASCII can be set to send alert messages back to the computer. For more information on alerts look <a class="external text" href="https://www.zaber.com/protocol-manual#topic_message_format_alerts">here</a>. To enable alerts, make sure that Alerts (comm.alert) is turned on under the Options and Settings menu on the left side of the screen. Next, click on the Alerts check box associated with the event from which you want to receive an alert message. Now when this key event is triggered, a green "Event Fired!" message will appear on the grid.
</p>
</td></tr></tbody></table>
<h4><span class="mw-headline" id="Binary_Key_Settings">Binary Key Settings</span></h4>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:402px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_BinaryKeys.png" class="image"><img alt="" src="400px-ZaberConsole_JoystickSetup_BinaryKeys.png" decoding="async" width="400" height="162" class="thumbimage" srcset="/w/images/thumb/b/bb/ZaberConsole_JoystickSetup_BinaryKeys.png/600px-ZaberConsole_JoystickSetup_BinaryKeys.png 1.5x, /w/images/thumb/b/bb/ZaberConsole_JoystickSetup_BinaryKeys.png/800px-ZaberConsole_JoystickSetup_BinaryKeys.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_BinaryKeys.png" class="internal" title="Enlarge"></a></div>Select one of the key buttons to modify the function of the key. Configuring keys in Binary shown here.</div></div></div>Writing Binary commands may cause your devices to move. To disable this, disconnect devices downstream of your joystick when writing.
<p>To modify the current settings of a key, simply change the desired field. 
</p><p><b>Device</b> - the device number of the device you wish to control. You can see this information on available devices in the device list. 
</p><p><b>Cmd #</b> - the <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary#topic_quick_command_reference">Binary command's</a> command number. For example, if you want to move a device using <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary#topic_action_021_move_relative">Move Relative</a>, the corresponding command number, as specified in the protocol manual, is 21.
</p><p><b>Data</b> - the data value that goes with the command. For example, if your command is <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary#topic_action_021_move_relative">Move Relative</a>, the data field represents how far and which way your device will move. Certain commands ignore the data field completely, such as <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary#topic_action_001_home">Home</a>.
</p><p>To make a key press event do nothing, click the "Clear" button and save the changes.
</p><p>If you are using <a class="external text" href="https://www.zaber.com/protocol-manual?protocol=Binary#topic_set_102_message_id_mode">message ids</a>, we recommend that you disable them when programming the joystick. That way the programmed instructions will work whether the target device has message ids enabled or not. Message ids are disabled by default.
</p>
</td></tr></tbody></table>
<h2><span class="mw-headline" id="Other_Features">Other Features</span></h2>
<table>

<tbody><tr valign="top">
<td><div class="thumb tright"><div class="thumbinner" style="width:290px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_Options.png" class="image"><img alt="" src="ZaberConsole_JoystickSetup_Options.png" decoding="async" width="288" height="279" class="thumbimage"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_Options.png" class="internal" title="Enlarge"></a></div>Options and Settings menu</div></div></div><div class="thumb tright"><div class="thumbinner" style="width:302px;"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_SaveLoadSettings.png" class="image"><img alt="" src="300px-ZaberConsole_JoystickSetup_SaveLoadSettings.png" decoding="async" width="300" height="385" class="thumbimage" srcset="/w/images/thumb/3/3d/ZaberConsole_JoystickSetup_SaveLoadSettings.png/450px-ZaberConsole_JoystickSetup_SaveLoadSettings.png 1.5x, /w/images/3/3d/ZaberConsole_JoystickSetup_SaveLoadSettings.png 2x"></a>  <div class="thumbcaption"><div class="magnify"><a href="https://www.zaber.com/w/File:ZaberConsole_JoystickSetup_SaveLoadSettings.png" class="internal" title="Enlarge"></a></div>Select Save and Load Joystick Settings from Options and Settings to store and recall configurations</div></div></div>The Options and Settings menu gives access to a number of other useful controls for the joystick.
<h3><span class="mw-headline" id="Clearing_Keys">Clearing Keys</span></h3>
<p>To quickly clear the key settings of all keys for the protocol you're currently using, click on "Clear Keys...". This will bring up a window asking you to confirm whether you want to remove them all.
</p><p><br>
</p>
<h3><span class="mw-headline" id="Debugging_and_Alerts">Debugging and Alerts</span></h3>
<p>The "Alerts" setting needs to be turned on for the computer to receive alerts from a key event. This setting indicates whether or not <a class="external text" href="https://www.zaber.com/protocol-manual#topic_setting_comm_alert">comm.alert</a> is turned on. 
</p><p>If the key command event's "Alerts" is checked, but the "Options and Settings" menu's "Alerts (comm.alert)" is turned off, no alerts will be sent to the computer. A yellow triangle will appear next to that key event's "Alerts" check box.
</p><p>The "Debugging Mode" setting allows the joystick to output special debugging messages to the message log. This setting indicates whether or not <a class="external text" href="https://www.zaber.com/wiki/Manuals/ASCII_Protocol_Manual#joy.debug">joy.debug</a> is turned on.
</p>
<h3><span class="mw-headline" id="Restoring_Default_Configuration">Restoring Default Configuration</span></h3>
<p>This setting restores the joystick to its factory default settings, including both Binary and ASCII settings.
</p><p><br>
</p>
<h3><span class="mw-headline" id="Saving_and_Loading_Joystick_Settings">Saving and Loading Joystick Settings</span></h3>
<p>This window allows users to switch between multiple sets of configuration. To save your current settings, which include all of your joystick settings and key commands, fill in the "Save As" text box with the title for settings to be saved, and click "Save Current Settings".
</p><p>Click the desired saved configuration in the box and click "Load" to load these settings onto the joystick. These settings are saved on the computer, and not on the joystick itself.
</p><p><br>
</p>
<h3><span class="mw-headline" id="Sensitivity_Calibration">Sensitivity Calibration</span></h3>
<p>This window allows users to calibrate the limits and deadbands of their joystick. The limits are the maximum deflection of the joytick in each axis that will be responsive, and the deadbands are the minimum deflections. To  start calibrating, click the "Calibrate Limits" button or the "Calibrate Deadbands" button on the top left panel, and then click the "Start Calibrating" button on the bottom left panel. Follow the instructions that appear on the main panel to the right.
</p>
</td></tr></tbody></table>
<!-- 
NewPP limit report
Cached time: 20231206221848
Cache expiry: 86400
Reduced expiry: false
Complications: [show‐toc]
CPU time usage: 0.032 seconds
Real time usage: 0.043 seconds
Preprocessor visited node count: 62/1000000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/100
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 -total
-->

<!-- Saved in parser cache with key zaberwiki:pcache:idhash:1610-0!canonical and timestamp 20231206221848 and revision id 14366.
 -->
</div>
